body{
        color: #1F2937;
        background-color: #F4F7F9;
        text-align: center;

      }
.links a{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #16875D;
        border: 3px double;
        display:inline-block;
        padding: 12px 20px;
        border-radius: 6px;
        }
.principal{
        color: black;
        background-color: #DFF3E4;
        display: inline-block;
        border: 5px double #16875D;
          }
