<!DOCTYPE html>
<html>

<head>

<title>
    Calcula tu meta financiera

</title>

</head>

<body>
<h1>Cuéntanos sobre tu situación financiera</h1>

<form method="POST" action="/principal">

<h3>Ingresos anuales</h3>
<input name="anual_income">

<h3>Costo de la meta</h3>
<br><input name="goal_cost"><br>

<h3>Gastos fijos mensuales</h3>
<br><input name="fixed_expenses"><br>

<h3>Ahorros actuales</h3>
<br><input name="current_savings"><br>

<h3>Porcentaje del dinero destinado a gastos ocasionales</h3>
<br><input name="percentage"><br>

<br><br><br>

<button type="submit">Confirmar</button>

<br><br>

<a href="/">Ir al inicio</a>

</form>
</body>

</html>
`
