<!DOCTYPE html> 
<html>

<head>

<title>
    Calculate your goal

</title>

</head>

<body>
<h1>Tell us about your financial situation</h1>
<form method="POST" action="/principal">
<h3>anual income</h3>

<input name="anual_income">
<h3>goal cost</h3>
<br><input name="goal_cost"<br>
<h3>fixed expenses</h3>
<br><input name="fixed_expenses"<br>
<h3>current savings</h3>
<br><input name="current_savings">
<br><br><br>
<button type="submit"> confirm </button>

</form>
</body>

</html>