<!DOCTYPE html>
<html>
<head>
    <title>
    planner results
    </title>


</head>
<body>
 <p>to be able to afford your goal, maximazing savings,</p> 
 <p> you will have to save for, aproximately {{years_to_afford}} years and {{months_to_afford}} months</p>
 <p>from all the income, you will have monthly: {{free_money}} dollars free,</p>
 <p>and you will need to monthly save aproximately: {{real_monthly_income}} dollars</p>
<br><br>

<a href="/principal">Click here to go back</a>


</body>

</html>
