<!DOCTYPE html>
<html>
<head>
    <title>
    Resultados del planificador
    </title>

</head>
<body>
 <p>Para poder alcanzar tu meta, maximizando tus ahorros,</p>
 <p>necesitarás ahorrar durante aproximadamente {{years_to_afford}} años y {{months_to_afford}} meses.</p>
 <p>De todos tus ingresos, tendrás disponibles cada mes: {{spendable_money}} dólares.</p>
 <p>Y necesitarás ahorrar aproximadamente {{amount_to_save}} dólares al mes.</p>

<br><br>

<a href="https://shorturl.at/1s1rZ">Por favor, cuando pruebes todas nuestras páginas, déjanos tu opinión.</a><br>

<a href="/principal">Haz clic aquí para volver</a><br>
<a href="/">Haz clic aquí para ir al inicio</a>

</body>

</html>

