<!DOCTYPE html>
<html>

<head>
<title>Asesor Financiero

</title>

</head>

<body>
<h1>
Asesor Financiero
</h1>

<h2>¡Bienvenido a tu asesor financiero! Actualmente, contamos con dos herramientas para ayudarte a administrar mejor tu dinero.</h2>

<h3>En la primera, ingresa la fecha de corte y los días de gracia de tu tarjeta de crédito para saber exactamente cuándo tendrás que pagar las compras que realices hoy y cuántos días te quedan para hacerlo.</h3>

<h4><a href="/cutoff">Guía de fecha de corte</a></h4>

<h3>En la segunda, cuéntanos cuáles son tus ingresos, tus gastos y qué deseas comprar. Calcularemos cuánto necesitas ahorrar cada mes y cuánto tiempo te tomará alcanzar tu meta.</h3>

<h4><a href="/principal">Planificador de metas financieras</a></h4><br>


</body>

</html>
