<!DOCTYPE html>
<html>

<head>
<title>Financial Advisor

</title>

</head>

<body>
<h1>
Financial advisor    
</h1>
<h2>Welcome to your financial advisor, currently, we have to ways to help you start losing money!</h2>

<h3>In the first one, You Enter your credit card cutoff date 
and grace period to find out exactly when you'll need to pay for today's purchases — 
and how many days you have left.</h3>
<h4><a href="/cutoff">Cutoff-guide</a></h4>
<h3>In the other one, tell us your income, expenses, and what you want to buy. 
We'll calculate how much you need to save each month and how long it will take to get there.</h3>
<h4><a href="/principal">Financial goal planner</a></h4>
</body>


</html>