<!DOCTYPE html>
<html>

<head>

<title>Asesor Financiero</title>

</head>
<body>
<h1>Calculadora de Fecha de Corte</h1>
<p>En esta calculadora, al ingresar la fecha de corte de tu tarjeta de crédito, te diremos cuál es el mejor momento para realizar tus compras y aprovechar al máximo tu dinero.</p>
<form method="POST" action="/result">

<label>Fecha de corte</label>
<input name="cutoff" type="date"><br><br>

<label>Días de gracia</label>
<input name="grace"><br><br>

<button type="submit">Confirmar</button>

<a href="/">Haz clic para volver</a>
</form>

</body>

</html>
