<!DOCTYPE html>
<html>

<head>

<title>Financial Advisor</title>

</head>
<body>
<h1>Cut-off Calculator</h1>
<p>In this calculator, by entering your credit card cutoff dates, we will tell you the best option for when to spend, to maximize your money.</p>
<p>What you spend between {{pre_date}} and {{cutoff_date}}</p>
            <p>will be charged on {{first_payment}}. if you spent money today, you would have {{time_left}} days to pay this way</p>
            <p>What you spend between {{cutoff_date}} and {{next_cutoff}}</p> 
            <p> will be charged on {{second_payment}}.</p><br>

<a href="https://shorturl.at/1s1rZ">Please, when you try all our pages, leave us some feedback</a><br>

<a href= "/cutoff"> Click to go back </a><br>
<a href= "/"> Click to go home </a>

</body>

</html>