<!DOCTYPE html>
<html>

<head>

<title>Asesor Financiero</title>

</head>
<body>
<h1>Calculadora de Fecha de Corte</h1>
<p>En esta calculadora, al ingresar la fecha de corte de tu tarjeta de crédito, te diremos cuál es el mejor momento para realizar tus compras y aprovechar al máximo tu dinero.</p>

<p>Lo que gastes entre {{pre_date}} y {{cutoff_date}}</p>

<p>se cobrará el {{first_payment}}. Si realizaras una compra hoy, tendrías {{time_left}} días para pagarla.</p>

<p>Lo que gastes entre {{cutoff_date}} y {{next_cutoff}}</p>

<p>se cobrará el {{second_payment}}.</p><br><br>

<a href="https://shorturl.at/1s1rZ">Por favor, cuando pruebes todas nuestras páginas, déjanos tu opinión aqui.</a><br><br>

<a href="/cutoff">Volver</a><br><br>
<a href="/">Ir al inicio</a>

</body>

</html>
