<!DOCTYPE html>
<html>

<head>

<title>Asesor Financiero</title>
<link rel="stylesheet" href="/static/style.css">

</head>
<body>
<div class="principal">
<h1>Calculadora de Fecha de Corte</h1>
</div>
<br>
<p>Lo que gastes entre {{pre_date}} y {{cutoff_date}}
se cobrará el {{first_payment}}. Si realizaras una compra hoy, tendrías {{time_left}} días para pagarla.

Lo que gastes entre {{cutoff_date}} y {{next_cutoff}}

se cobrará el {{second_payment}}.</p><br><br>
<br><br>
<p class="links"><a href="https://shorturl.at/1s1rZ">Por favor, cuando pruebes todas nuestras páginas, déjanos tu opinión aqui.</a></p>
<br><br>

<p class="links"><a href="/cutoff">Volver</a></p>
<br><br>
<p class="links"><a href="/">Ir al inicio</a></p>

</body>

</html>
